<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="setup.css">
  <% %>
</head>
<body class="screen">
  <header class="title">
    <%= erb :_header %>
  </header>
  <nav class="menu panel column">
    <%= erb :_navigation %>
  </nav>
  <article class="sub-menu">
    <% if @server_list %>
      <%= erb :_server_list %>
    <% elsif @servers %>
      <%= erb :_servers %>
    <% elsif @charon %>
      <%= erb :_charon %>
    <% end %>
  </article>
  <footer class="footer">
    <%= erb :_footer %>
  </footer>
</body>