<!DOCTYPE html>
<head>
  <% %>
</head>
<body>
  <header>
    <%= erb :_header %>
  </header>
  <nav>
    <%= erb :_navigation %>
  </nav>
  <article>
    <% if @server_list %>
      <%= erb :_server_list %>
    <% elsif @servers %>
      <%= erb :_servers %>
    <% elsif @charon %>
      <%= erb :_charon %>
    <% end %>
  </article>
  <footer>
    <%= erb :_footer %>
  </footer>
</body>