<!DOCTYPE html>
<head>
  <% %>
</head>
<body>
  <header>
    <%='Header'%>
  </header>
  <article>
    <ul>
      <% if @server_list.nil? %>
        <li><%= 'No Servers Found' %></li>
      <%else%>
        <% @server_list.each do | server | %>
          <li><%= server[:name] + ' ' + server[:port] %></li>
        <%end%>
      <%end%>
    </ul>
  </article>
  <nav>
    <%='Navigation'%>
  </nav>
  <footer>
    <%='Footer'%>
  </footer>
</body>